<%= form_for [:admin, @beacon] do |f| %>
  <%= render 'shared/error_messages', object: @beacon %>

  <% if @beacon.new_record? %>
    <div class="form-group">
      <%= f.label :major %>
      <%= f.number_field :major, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :minor %>
      <%= f.number_field :minor, class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :passcode %>
    <%= f.text_field :passcode, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
