<h1><%= t('.title') %></h1>

<div class="form-group">
  <%= link_to t('.new_beacon_button'), new_admin_beacon_path, class: 'btn btn-primary' %>
</div>

<table class="table">
  <thead>
    <th>№</th>
    <th><%= Beacon.human_attribute_name(:name) %></th>
    <th><%= Beacon.human_attribute_name(:major) %></th>
    <th><%= Beacon.human_attribute_name(:minor) %></th>
    <th></th>
  </thead>
  <tbody>
    <%= render partial: 'admin/beacons/beacon', collection: @beacons, cached: true %>
  </tbody>
</table>
